html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.menu-items a {
  text-decoration: none;
  color: #0a2540;
  position: relative;
  font-weight: 700;
}

.menu-items a:hover {
  color: #7a73ff;
  transition: 0.3s;
}

.menu-items a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #7a73ff;
  transition: width 0.3s;
  position: absolute;
  top: 20px;
}

.menu-items a:hover::after {
  width: 100%;
}

header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

li {
  color: #0a2540;
  font-weight: 500;
}

.item{
  width: 100%;
}

.swiper {
  width: 890px;
  height: 530px;
  margin-left: 0;
  margin-right: 90px;
}

.slide-1{
  background-image: url("./img/nutrier-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-2{
  background-image: url("./img/chilla.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-3{
  background-image: url("./img/dolceart-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-4{
  background-image: url("./img/axis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-5{
  background-image: url("./img/mamm-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-6{
  background-image: url("./img/solaris-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-7{
  background-image: url("./img/tapecaria.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-8{
  background-image: url("./img/nutrier-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-9{
  background-image: url("./img/plantae-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-10{
  background-image: url("./img/dolceart-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-11{
  background-image: url("./img/mamm-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-12{
  background-image: url("./img/solaris-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-13{
  background-image: url("./img/nutrier-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-14{
  background-image: url("./img/alison.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide-15{
  background-image: url("./img/nutrier-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  width: 150px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.menu {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  bottom: 150px;
}

.bg-intro{
  box-shadow: inset 550px 0px #7a73ff;
  box-sizing: border-box;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.profile-pic {
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  margin: 0 0 10px 0;
  font-family: "Roboto Mono", monospace;
  color: #f2f2f2;
  font-size: 4rem;
  line-height: 1;
  position: relative;
  font-weight: 300;
  z-index: 0;
  width: 15ch;
}

h1::before {
  content: "";
  display: block;
  height: 80px;
  width: 100px;
  background-image: url("./img/decoracao.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  z-index: -1;
  left: -50px;
}

.descricao {
  color: #f2f2f2;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.destaque {
  color: #7a73ff;
  font-weight: bold;
}

.servicos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  background-color: white;
  gap: 20px;
}

.item-servicos{
  grid-column: span 3;
}

.servico-tipo{
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
  gap: 20px;
  color: #0a2540;
}

.servico-tipo:hover{
  background-color: #0a2540;
  color: white;
  transition-duration: 0.5s;
}

.servico-tipo img{
  width: 15%;
}

.servico-tipo h3{
  font-size: 1.5rem;
  margin: 0;
}

.servico-tipo p{
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.2rem;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  gap: 20px;
}

.lista-projetos{
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  max-width: 1200px;
  cursor:grabbing;
  justify-content: space-between
}

.lista-projetos::-webkit-scrollbar {
  width: 20px;
}

.lista-projetos::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.lista-projetos::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #7a73ff;
}

.item2 {
  justify-self: end;
}

.projeto-tituloPrincipal{
  color: white;
}


h2 {
  margin: 0;
  font-size: 2.3rem;
  line-height: 1;
  font-family: "Roboto Mono", monospace;
  color: #0a2540;
  position: relative;
  z-index: 2;
}

h2::before {
  content: "";
  display: block;
  height: 60px;
  width: 100px;
  background-image: url("./img/decoracao.svg");
  background-repeat: no-repeat;
  background-size: 60px 100px;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -45px;
}

.botao {
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  background-color: #7a73ff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid transparent;
  width: fit-content;
  height: fit-content;
}

.botao-secundario{
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  background-color: #7a73ff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  width: fit-content;
  height: fit-content;
  font-size: .8rem;
  border: 2px solid #7a73ff;
  justify-self: end;
  align-self: end;
}

.botao:hover {
  background-color: transparent;
  color: #7a73ff;
  border: 2px solid #7a73ff;
  transition-duration: 0.5s;
}

.bg-white {
  background-color: white;
}

.bg-gray{
  background-color: #d8d8d89c;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
  z-index: 2;
}

.projetos {
  max-width: 1200px;
  gap: 30px;
}

.projeto {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 260px;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 10%);
  width: 100%;
  align-content: space-between;
  box-sizing: border-box;
}

.projeto h3{
  grid-column: span 2;
  color: white;
}

.projeto-titulo{
  opacity: 0;
}

.projeto:hover .botao-secundario{
  opacity: 100;
  transition-duration: 0.5s;
}

.projeto:hover .projeto-titulo{
  opacity: 100;
  transition-duration: 0.5s;
}

.projeto-1 {
  background-image: url(./img/solaris-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-1:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.projeto-2 {
  background-image: url(./img/care-cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-2:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.projeto-3 {
  background-image: url(./img/plantae-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-3:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/plantae-1.jpg');
}

.projeto-4{
  background-image: url(./img/mamm-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-4:hover{
  transform: scale(1.05);
  transform-origin: 50% 50%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/mamm-1.jpg');
}

.projeto-5{
  background-image: url(./img/nutrier-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-5:hover{
  transform: scale(1.05);
  transform-origin: 50% 50%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/nutrier-1.png');
}


.projeto-6{
  background-image: url(./img/tapecaria.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-6:hover{
  transform: scale(1.05);
  transform-origin: 50% 50%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/tapecaria.png');
}

.projeto-7{
  background-image: url(./img/solaris-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-7:hover{
  transform: scale(1.05);
  transform-origin: 50% 50%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/solaris-1.jpg');
}

.projeto-8{
  background-image: url(./img/chilla.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.projeto-8:hover{
  transform: scale(1.05);
  transform-origin: 50% 50%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/chilla.png');
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: 10px;
  font-size: .8rem;
}

.tags span {
  background-color: #7a73ff;
  font-family: "Roboto Mono", monospace;
  padding: 4px 8px;
  color: white;
  display: block;
  border-radius: 20px;
  text-align: center;
}

.bg-azul {
  background-color: #0a2540;
}

.skills {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.titulo h2 {
  color: white;
}

.skills-item {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 120px;
  width: 80%;
  justify-self: center;
}

.tecnologias path:hover {
  fill: white;
  transition-duration: 0.5s;
}

.formacao {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  gap: 40px;
}

.formacao-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: start;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e5e5;
}

.duracao {
  grid-column: span 2;
}

.duracao span {
  background-color: #7a73ff;
  font-family: "Roboto Mono", monospace;
  padding: 4px 8px;
  color: white;
  display: inline-block;
  border-radius: 20px;
}

.formacao-titulo p {
  color: #848484;
  margin: 5px 0;
}

.formacao-desc {
  color: #7a7a7a;
  font-size: 0.9rem;
}

.complementares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 60px 0;
  gap: 40px;
}

.complementares h3 {
  margin: 0;
  font-size: 2rem;
  line-height: 1;
  font-family: "Roboto Mono", monospace;
  color: #0a2540;
  position: relative;
  z-index: 2;
  grid-column: 1 / span 5;
}

.complementares h3::before {
  content: "";
  display: block;
  height: 60px;
  width: 100px;
  background-image: url("./img/decoracao.svg");
  background-repeat: no-repeat;
  background-size: 60px 100px;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -45px;
}

.complementar-ano span {
  background-color: #7a7a7a;
  margin-bottom: 10px;
}

.complementar-titulo h4 {
  color: #0a2540;
  font-size: 1.3rem;
  margin: 0;
  width: 15ch;
}

.rodape {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 60px 0;
  gap: 90px;
  align-items: center;
  justify-items: end;
}

.rodape p {
  font-size: 1.3rem;
  color: white;
}

.rodape a {
  font-size: 1.8rem;
  color: #7a73ff;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  font-weight: bold;
}

.bg-roxo{
  background-color: #7a73ff;
}

.links-rodape a{
  color: white;
}

@media (max-width: 1500px) {
  .swiper {
    width: 730px
  }
}


@media (max-width: 1300px) {
  .bg-intro {
    box-shadow: inset 300px 0px #7a73ff;
    box-sizing: border-box;
  }

  .swiper {
    width: 630px
  }

  header {
    max-width: 900px;
  }

  .servicos{
    max-width: 900px;
  }

  .projetos {
    max-width: 900px;
  }

  .skills {
    max-width: 900px;
  }

  .complementares {
    max-width: 900px;
  }

  .formacao {
    max-width: 900px;
  }

  .rodape {
    max-width: 900px;
  }

  .lista-projetos{
    max-width: 900px;
  }

  h1 {
    font-size: 3.6rem;
  }
}

@media (max-width: 1200px) {
  .swiper {
    width: 500px;
    margin-right: 70px;
  }

  h1{
    width: fit-content;
  }
}

@media (max-width: 1024px) {
  .bg-intro {
    box-shadow: inset 250px 0px #7a73ff;
  }

  header {
    max-width: 750px;
  }

  .servicos{
    max-width: 750px;
  }

  .servico-tipo{
    padding: 20px;
  }

  .servico-tipo img {
    width: 20%;
  }

  .projetos {
    max-width: 750px;
  }

  .projeto{
    padding: 10px;
  }

  .skills {
    max-width: 750px;
  }

  .complementares {
    max-width: 750px;
    
  }

  .complementares h3 {
    font-size: 1.8rem;
    width: fit-content;
  }

  .skills-item {
    gap: 60px;
  }

  .formacao {
    max-width: 750px;
  }

  .rodape {
    max-width: 750px;
  }

  .lista-projetos{
    max-width: 750px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h2::before {
    background-size: 50px 100px;
    left: -37px;
    top: -25px;
  }
}

@media (max-width: 900px) {
  .swiper {
    width: 400px
  }

}

@media (max-width: 800px) {
  .bg-intro {
    box-shadow: inset 200px 0px #7a73ff;
    box-sizing: border-box;
  }

  h1::before {
    background-size: 40px 100px;
    margin-left: 25px;
    top: -30px;
  }

  header {
    flex-direction: column;
  }

  ul {
    padding-left: 0;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h2::before {
    background-size: 40px 100px;
    left: -30px;
    top: -30px;
  }

  .complementares h3 {
    font-size: 1.6rem;
  }

  .swiper {
    margin-right: 50px;
  }

  .servicos{
    max-width: 650px;
  }

  .projetos {
    max-width: 650px;
  }

  .skills {
    max-width: 650px;
  }

  .skills-item {
    gap: 40px;
  }

  .formacao {
    max-width: 650px;
  }

  .rodape {
    max-width: 650px;
  }

  .complementares {
    max-width: 650px;
  }

  .lista-projetos{
    max-width: 650px;
    padding: 0px 0px 20px 0px;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
  }

  .projeto{
    height: 250px;
    padding: 20px;
  }

  .botao-secundario{
    opacity: 100;
    padding: 8px 10px;
    font-size: .7rem;
  }

  ul {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@media (max-width: 770px) {
  .swiper {
    width: 330px;
  }
}

@media (max-width: 690px) {
  .swiper {
    width: 100%;
    height: 300px;
  }

  .bg-intro {
    box-shadow: none;
    box-sizing: border-box;
  }

  h1 {
    font-size: 2rem;
  }

  h1::before {
    background-size: 40px 100px;
    margin-left: 25px;
    top: -30px;
  }

  .introducao{
    grid-template-columns: 1fr;
  }

  .servicos{
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
  }

  .item-servicos{
    grid-column: span 2;
  }

  .projetos {
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
  }

  .lista-projetos{
    max-width: 500px;
    padding: 0px 0px 20px 0px;
    margin-left: 0;
  }

  .projeto{
    padding: 20px;
  }

  .item1 {
    grid-column: span 1;
  }

  .skills {
    max-width: 500px;
  }

  .skills-item {
    gap: 30px;
  }

  .formacao {
    max-width: 500px;
  }

  .rodape {
    max-width: 500px;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }

  .complementares {
    max-width: 500px;
    grid-template-columns: 1fr 1fr;
  }

  .complementares h3 {
    grid-column: span 2;
    width: auto;
  }

  .complementar-titulo h4 {
    width: auto;
  }

  .item {
    width: 100%;
    overflow: hidden;
  }

  .hero-title{
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 0 40px 0;
  }
}

@media (max-width: 570px) {
  .hero-title{
    max-width: 400px;
  }

  .servicos{
    max-width: 400px;
  }

  .projetos {
    max-width: 400px;
  }

  .skills {
    max-width: 400px;
  }

  .skills-item {
    width: 90%;
  }

  .formacao {
    max-width: 400px;
  }

  .complementares {
    max-width: 400px;
    grid-template-columns: 1fr;
  }

  .complementares h3 {
    grid-column: span 1;
    width: auto;
  }

  .lista-projetos{
    max-width: 450px;
    grid-template-columns: 1fr;
  }

  .rodape {
    max-width: 450px;
    text-align: center;
  }
}

@media (max-width: 440px) {

  .bg-intro {
    box-shadow: none;
  }

  ul{
    gap: 30px;
  }

  .hero-title{
    max-width: 300px;
  }

  .servicos{
    max-width: 300px;
    grid-template-columns: 1fr;
  }

  .lista-projetos{
    max-width: 340px;
  }

  .item-servicos{
    grid-column: span 1;
  }

  .descricao {
    margin-top: 5px;
    font-size: 1rem;
  }

  .profile-pic {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  h1::before {
    background-size: 40px 100px;
    margin-left: 25px;
    top: -30px;
  }

  .projetos {
    max-width: 300px;
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
  }

  .complementares {
    max-width: 300px;
    grid-template-columns: 1fr;
  }

  .complementares h3 {
    grid-column: span 1;
    width: auto;
  }

  .projetos:first-child {
    gap: 0;
  }

  .item1 {
    margin-bottom: 20px;
  }

  .item2 {
    grid-row: 5 / span 1;
    margin-top: 20px;
    justify-self: center;
  }

  .item3 {
    margin-top: 20px;
  }

  .skills {
    max-width: 300px;
  }

  .skills-item {
    gap: 30px;
    flex-wrap: wrap;
  }

  .skills-item svg {
    width: 70px;
  }

  .tecnologias {
    width: 40%;
  }

  .formacao {
    max-width: 300px;
  }

  .formacao-item {
    grid-template-columns: 1fr;
  }

  .duracao {
    grid-column: span 1;
  }

  .rodape {
    max-width: 300px;
  }

  .rodape p {
    font-size: 1rem;
    text-align: center;
  }

  .rodape a {
    font-size: 1.3rem;
  }
}

@media (max-width: 320px) {
  .bg-intro {
    box-shadow: none;
  }
  
  .hero-title{
    max-width: 250px;
  }

  .servicos{
    max-width: 250px;
  }

  .projetos {
    max-width: 250px;
  }

  .skills {
    max-width: 250px;
  }

  .formacao {
    max-width: 250px;
  }

  .lista-projetos{
    max-width: 290px;
  }

  .complementares {
    max-width: 250px;
  }

  .rodape {
    max-width: 250px;
  }

  .rodape a {
    font-size: 1.1rem;
  }

  header {
    max-width: 250px;
  }

  ul {
    gap: 2px;
    margin-top: 20px;
  }

  li {
    padding: 8px 16px;
  }
}
